[Unit]
Description=Enqueue Module Manager V2 photo barcode maintenance daily

[Timer]
OnCalendar=*-*-* 00:00:00
Persistent=true
Unit=module-manager-v2-photo-barcode-maintenance-enqueue.service

[Install]
WantedBy=timers.target
